$color-bg: #ffffff;

$color-font-base: #666666;
$color-font-title: #333333;
$color-font-info: #808080;
$color-primary: #F2F2F2;
$color-secundary: #10B5C9;
$color-tertiary: #E3E3E3;
$color-border: #CCCCCC;
$color-logo:#666666;
$color-focus: #0067b8;
$color-border-secondary: #D9D9D9;

$html-font-size: 16px;

/* breackpoints */
$bp-mobile: 480px;
$bp-tablet: 1024px;
$bp-desktop: 1200px;




/* wrapper */
$wrapper-mobile: 100%;
$wrapper-tablet: 100%;
$wrapper-desktop: 1200px;