@import "_cookie-law-info-gdpr.scss";
@import "_cookie-law-info-public.scss";
@import "_variables.scss";
@import "_reset.scss";
@import "_utilities.scss";
@import "_fonts.scss";

*::before,
*::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  letter-spacing: 0px;
  word-spacing: 0;
}

html {
  overflow-x: hidden;
  &.block {
    overflow: hidden;

    @media screen and (min-width: $bp-tablet) {
      overflow-y:auto
    }
  }
}


body {
  background-color: $color-bg;
  font-family: "Satoshi Regular";
  color: $color-font-base;
  letter-spacing: 1px;
  overflow: hidden;
}

a {
  color: #10B5C9;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.cb-wrapper {
  width: $wrapper-mobile;
  margin: 0 auto;

  @media screen and (min-width: $bp-desktop) {
    width: $wrapper-desktop;
    border-left: 1px solid $color-border;
    border-right: 1px solid $color-border;
  }

  &--grey {
    background-color: $color-primary;
    position: relative;
    padding-bottom: rem(48);
    border-bottom: 1px solid $color-border;

    @media screen and (min-width: $bp-tablet) {
      padding-bottom: rem(96);
    }

    &::after,
    &::before {
      content: '';
      width: rem(20000);
      height: calc(100% + 1px);
      position: absolute;
      top: 0;
      z-index: -1;
      background-color: $color-primary;
      border-bottom: 1px solid $color-border;
    }

    &::after {
      left: rem(-20000);
    }
  
    &::before {
      right:rem(-20000);
    }
  }
}

.cb-header {
  width: $wrapper-mobile;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: rem(64);
  position: fixed;
  border-top: 1px solid transparent;
  border-bottom: 1px solid $color-border;
  padding: 0 rem(24);
  z-index: 6;
  background-color: $color-bg;
  top: 0;
  
  @media screen and (min-width: $bp-tablet) {
    height: rem(80);
    padding: 0 rem(80);
    position: relative;
    border-left: 1px solid $color-border;
    border-right: 1px solid $color-border;
  }

  @media screen and (min-width: $bp-desktop) {
    width: rem(1200);
    padding: 0 rem(102);
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0px;
    width: rem(2000);
    border-bottom: 1px solid $color-border;
    border-top: 1px solid $color-border;
    box-sizing: border-box;
    height: rem(63);
    z-index: -1;

    @media screen and (min-width: $bp-tablet) {
      height: rem(79);
    }
  }

  &::after {
    right: 0;
    left: auto;
  }

  &__logo {
    width: rem(97);
    display: block;

    @media screen and (min-width: $bp-tablet) {
      width: rem(130);
    }
  }

  // &__logo-basic {
  //   width: rem(24);
  //   display: block;
  //   position: relative;

  //   @media screen and (min-width: $bp-tablet) {
  //     display: none;
  //   }
  // }

  &__list {
    display: flex;
    list-style: none;
    font-size: rem(14);
    text-transform: uppercase;
    color: $color-font-info;
    flex-direction: column;
    padding: 0;
    width: 100%;
    background-color: $color-primary;
    position: relative;
    z-index: 1;
    border-top: 1px solid $color-border;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      width: auto;
      border-bottom: 0;
      border-top: 0;
      background-color: transparent;
    }
  }

  &__item {
    min-height: rem(59);
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid $color-border;

    @media screen and (min-width: $bp-tablet) {
      height: rem(80);
      border-top: 0;
    }

    @media screen and (min-width: $bp-tablet) {
      border-bottom-color: transparent;
    }

    &:last-child {
      // border-bottom: 1px solid $color-border;

      @media screen and (min-width: $bp-tablet) {
        border-bottom: 0;
      }
    }
  }

  &__nav-link {
    text-decoration: none;
    color: $color-font-info;
    padding: 0 rem(24);
    height: inherit;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    word-spacing: 1px;
    font-size: rem(20);
    font-family: 'Satoshi Regular';
    
    @media screen and (min-width: $bp-tablet) {
      font-size: rem(14);
    }

    &:focus-visible {
      outline: 1px solid $color-focus;
      outline-offset: -1px;
    }
  }

  &__nav {
    position: absolute;
    right: 0;
    top: rem(60);
    width: 100%;
    background-color: $color-primary;
    display: none;
    // border-top: 1px solid $color-border;
    overflow-y: auto;
    height: calc(100vh - 62px);
    height: calc(100dvh - 62px);

    @media screen and (min-width: $bp-tablet) {
      position: static;
      width: auto;
      background-color: transparent;
      display: block;
      border-top: 0;
      overflow-y:inherit;
      height: auto;
    }

    &.open {
      display: block;
      // border-top: 1px solid $color-border;

      &::before {
        content: '';
        background-color: $color-primary;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;

        @media screen and (min-width: $bp-tablet) {
          display: none;
        }
      }


    }
    
  }

  &__nav-logo {
    position: absolute;
    bottom: rem(40);
    width: rem(342);
    height: rem(116);
    left: calc(50% - 171px);
    z-index: 0;
    overflow: hidden;

    @media screen and (min-width: $bp-tablet) {
      display: none;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: -37%;
      width: 137%;
      height: rem(340);
      z-index: 1;
      background-image: url(../assets/img/logotipo-clinica-baez-2.svg);
      background-size: 100%;
      background-position: center bottom;
      background-repeat: no-repeat;
    }
  }

  &__col1 {
    position: relative;
    z-index: 0px;

    &::after {
      content: "";
      position: absolute;
      height: rem(64);
      right: rem(-24);
      top: rem(-21);
      border-right: 0px solid $color-border;
      
      @media screen and (min-width: $bp-tablet) {
        border-right: 1px;
      }
    }
  }

  &--item-mobile {
    height: auto;
    border-top: 0;

    @media screen and (min-width: $bp-tablet) {
      display: none;
    }

    .cb-main__col {
      width: 100%;
      border-bottom: 0;
      border-right: 0;
      border-left: 0;

      &:last-child {
        border-bottom: 0;
      }
    }

    .cb-main__col-title {
      padding-top: rem(40);
    }

    .cb-main__col-link {
      padding-bottom: rem(40);
    }
  }

  .cb-button {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: inline-block;
    }

    &:focus-visible {
      outline: 1px solid $color-focus;
      outline-offset: -1px;
    }
  }

  .cb-button__menu {
    display: inline-block;

    @media screen and (min-width: $bp-tablet) {
      display: none;
    }
  }
}

.cb-main {
  margin-top: rem(63);
  position: relative;

  @media screen and (min-width: $bp-tablet) {
    margin-top: rem(0);
  }

  &:after {
    position: absolute;
    content: "";
    border-top: 0;
    width: 100%;
    top: -1px;

    @media screen and (min-width: $bp-tablet) {
      border-top: 1px solid $color-border;
    }
  }

  &__h1 {
    font-family: "Satoshi light";
    padding: rem(48) rem(24) rem(8);
    color: $color-font-base;
    font-size: rem(16);

    @media screen and (min-width: $bp-tablet) {
      padding: rem(96) rem(40) rem(8);
      font-size: rem(32);
    }

    @media screen and (min-width: $bp-desktop) {
      padding: rem(96) rem(104) rem(8);
    }

    &.visually-hidden {
      + .cb-main__h2 {
        padding-top: rem(48);

        @media screen and (min-width: $bp-tablet) {
          padding-top: rem(96);
        }
    
        @media screen and (min-width: $bp-desktop) {
          padding-top: rem(96);
        }
      }
    }
  }

  &__h2 {
    font-family: "Satoshi Regular";
    padding: 0 rem(24) rem(26) rem(24);
    font-size: rem(48);
    line-height: 120%;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: $color-font-title;
    font-size: rem(24);

    @media screen and (min-width: $bp-tablet) {
      padding: 0 rem(40) rem(26) rem(40);
      font-size: rem(48);
    }

    @media screen and (min-width: $bp-desktop) {
      padding: 0 rem(312) rem(26) rem(104);
    }
  }

  &--h2-margin {
    padding-bottom: rem(66);
  }

  &__h3 {
    font-family: "Satoshi light";
    padding: 0 rem(24) rem(26) rem(24);
    font-size: rem(48);
    line-height: 120%;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: $color-font-title;
    font-size: rem(18);

    @media screen and (min-width: $bp-tablet) {
      padding: 0 rem(40) rem(26) rem(40);
      font-size: rem(32);
    }

    @media screen and (min-width: $bp-desktop) {
      padding: 0 rem(312) rem(26) rem(104);
    }
  }

  &__p {
    padding: 0 rem(24) rem(24) rem(24);

    @media screen and (min-width: $bp-tablet) {
      padding: 0 rem(40) rem(24) rem(40);
    }

    @media screen and (min-width: $bp-desktop) {
      padding: 0 rem(616) rem(24) rem(104);
    }

    strong {
      font-family: "Satoshi Bold";
    }
  }

  &__ul {
    padding: 0 rem(24) rem(24) rem(44);

    @media screen and (min-width: $bp-tablet) {
      padding: 0 rem(40) rem(24) rem(60);
    }

    @media screen and (min-width: $bp-desktop) {
      padding: 0 rem(616) rem(24) rem(124);
    }
  }

  &__image-full {
    padding-top: rem(64);
    padding-bottom: rem(80);
  }

  &__cols {
    display: flex;
    margin-bottom: rem(248);
    margin-top: rem(28);
    flex-direction: column;

    @media screen and (min-width: $bp-tablet) {

    }

    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
      border-top: 1px solid $color-border;
      border-bottom: 1px solid $color-border;
    }
  }

  &__cols-3 {
    margin-bottom: rem(60);

    .cb-main__col {
      width: calc(100% - 48px);
      margin: 0 auto;
      justify-content: start;

      @media screen and (min-width: $bp-tablet) {
        width: calc(100% - 80px);
      }

      @media screen and (min-width: $bp-desktop) {
        width: 100%;
        width: calc(100% / 3);
        border-bottom: 0;
      }
    }
  }

  &__cols-2 {
    margin-top: 0;
    margin-bottom: 0;

    @media screen and (min-width: $bp-desktop) {
      border-top: 0;
      border-bottom: 0;
    }

    .cb-main__col {
      width: calc(100% - 48px);
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      border-top: 0;

      @media screen and (min-width: $bp-tablet) {
        width: calc(100% - 80px);
      }

      @media screen and (min-width: $bp-desktop) {
        width: 100%;
        width: calc(100% / 2);
        border-bottom: 0;
      }

      &:last-child {
        border-top: 1px solid $color-border;
        border-bottom: 0;

        @media screen and (min-width: $bp-desktop) {
          border-top: 0;
        }
      }
    }

    .cb-main__col-link {
      font-size: rem(24);

      .cb-main__col-icon {
        width: rem(40);
        height: rem(40);
        padding: 0;
      }
    }
    
    .cb-main__col-icon {
      width: 80%;
      height: auto;
      padding: rem(60) 0;
      fill: #E3E3E3;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid $color-border;
    border-right: 1px solid $color-border;
    border-top: 1px solid $color-border;

    @media screen and (min-width: $bp-desktop) {
      border-bottom: 0;
      border-top: 0;
      border-left: 0;
    }

    &:last-child {
      border-bottom: 1px solid $color-border;

      @media screen and (min-width: $bp-desktop) {
        border-right: 0;
        border-bottom: 0;
      }

      .cb-main__col-text {
        margin-top: rem(4);
        text-transform: none;
      }
    }

    &:first-child {
      border-top: 0;

      @media screen and (min-width: $bp-desktop) {
        border-top: 0;
      }
    }
  }

  &__col-title {
    text-decoration: none;
    padding: rem(60) rem(24) rem(5);
    letter-spacing: 2px;
    font-size: rem(16);
    text-transform: uppercase;
    color: $color-font-info;

    @media screen and (min-width: $bp-tablet) {
      padding: rem(60) rem(64) rem(5);
    }
  }

  &__col-link {
    text-decoration: none;
    padding: 0 rem(24) rem(60);
    display: flex;
    font-size: rem(36);
    font-family: "Satoshi light";
    font-weight: 300;
    color: $color-font-base;
    align-items: center;
    letter-spacing: 0px;

    @media screen and (min-width: $bp-tablet) {
      padding: 0 rem(64) rem(60);
    }

    &:focus-visible {
      outline: 1px solid $color-focus;
      outline-offset: -1px;
    }

    .cb-main__col-icon {
      margin-right: rem(8);
    }
  }

  &__col-text {
    text-decoration: none;
    padding: 0 rem(24) rem(60);
    display: flex;
    font-size: rem(24);
    font-family: "Satoshi light";
    font-weight: 300;
    color: $color-font-base;

    @media screen and (min-width: $bp-tablet) {
      padding: 0 rem(64) rem(60);
    }

    &:focus-visible {
      outline: 1px solid $color-focus;
      outline-offset: -1px;
    }

    span span {
      display: block;
      color: $color-font-base;
    }
  }

  &__col-icon {
    width: rem(40);
    height: rem(40);
  }
}

/* combo box */
.cb-combo *,
.cb-combo *::before,
.cb-combo *::after {
  box-sizing: border-box;
}

.cb-combo {
  display: block;
  width: 100%;

  &.open {
    .cb-combo__menu {
      display: block;
    }

    &::after {
      transform: translate(0, -65%) rotate(225deg);
      top: rem(36);

      @media screen and (min-width: $bp-tablet) {
        transform: translate(0, -65%) rotate(45deg);
        top: rem(38);
      }
    }
  }

  @media screen and (min-width: $bp-tablet) {
    height: rem(80);
    max-width: 400px;
  }

  &::after {
    border-bottom: 1px solid $color-font-base;
    border-right: 1px solid $color-font-base;
    content: "";
    display: block;
    height: rem(8);
    pointer-events: none;
    position: absolute;
    right: rem(32);
    top: rem(32);
    transform: translate(0, -65%) rotate(45deg);
    width: rem(8);

    @media screen and (min-width: $bp-tablet) {
      top: rem(38);
      right: rem(5);
    }
  }

  &__input {
    background-color: transparent;
    display: block;
    text-align: left;
    width: 100%;
    position: absolute;
    top: 0;
    height: rem(64);
    cursor: pointer;
    padding: 0 24px;

    @media screen and (min-width: $bp-tablet) {
      height: rem(80);
    }

    &:focus-visible {
      outline: 1px solid $color-focus;
      outline-offset: -1px;
    }
  }

  &__label {
    display: flex;
    margin-right: rem(32);
    margin: 0 rem(32) 0 rem(24);
    letter-spacing: 2px;
    word-spacing: 1px;
    align-items: center;
    min-height: rem(64);
    font-size: rem(20);
    font-family: 'Satoshi Regular';

    @media screen and (min-width: $bp-tablet) {
      font-size: rem(14);
      min-height: rem(80);
    }
  }

  &__menu {
    background-color: $color-primary;
    border-top: 0;
    display: none;
    overflow-y: auto;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 100;
    position: static;
    margin-top: 1px;

    @media screen and (min-width: $bp-tablet) {
      background-color: $color-bg;
      width: rem(360);
      position: absolute;
      max-height: rem(500);
      top: rem(80);
      margin-top: 0;
      outline: 1px solid $color-border;
    }
  }
 
  &__option {
    padding: rem(11) rem(48) rem(11) rem(24);
    text-transform: none;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: $color-font-info;
    font-size: rem(20);
    font-family: "Satoshi Regular";
    letter-spacing: 2px;
    word-spacing: 1px;
    position: relative;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;

    &:hover {
      @media screen and (min-width: $bp-tablet) {
        background-color: $color-primary;
        border-top: 1px solid $color-border;
        border-bottom: 1px solid $color-border;

        &::after {
          display: block;
        }

        &:first-child {
          border-top: 1px solid transparent;
        }

        &:last-child {
          border-bottom: 1px solid transparent;
        }
      }
    }

    &:focus-visible {
      outline: 1px solid $color-focus;
      outline-offset: -1px;
    }

    &::after {
      content: url('../assets/img/icon-24-arrow_right.svg');
      position: absolute;
      right: rem(24);
      top: calc(50% - 12px);
      transition: transform .5s;
      transform: rotate(-45deg);
      height: rem(24);
      width: rem(24);

      @media screen and (min-width: $bp-tablet) {
        display: none;
      }
    }
  }
}

/* buttons */
[role="button"] {
  display: inline-block;
  position: relative;
  padding: 0.4em 0.7em;
  color: #fff;
  background-color: $color-secundary;

  &:hover {
    background-color: $color-secundary;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &:focus::before {
    position: absolute;
  
    /* button border width - outline width - offset */
    top: calc(-1px - 3px - 3px);
    right: calc(-1px - 3px - 3px);
    bottom: calc(-1px - 3px - 3px);
    left: calc(-1px - 3px - 3px);
  
    content: "";
  }

  &:active {
    background-color: $color-secundary;
  }

  &[aria-pressed] {
    background-color: $color-secundary;
  }

  &[aria-pressed]:hover {
    background-color: $color-secundary;
  }

  &[aria-pressed="true"] {
    padding-top: 0.5em;
    padding-bottom: 0.3em;
    background-color: $color-secundary;
  }

  &[aria-pressed="true"]:hover {
    background-color: $color-secundary;
  }

  &[aria-pressed]:focus::before {
  }

  svg {
    margin: 0.15em auto -0.15em;
    height: 1em;
    width: 1em;
    pointer-events: none;
  }
}

.cb-button {
  text-transform: uppercase;
  font-size: rem(16);
  font-family: "Satoshi Medium";
  border-radius: rem(24);
  padding: rem(8) rem(24);
  letter-spacing: 1px;
  word-spacing: 1px;

  &__menu {
    background-image: url('../assets/img/icon-24-burger-menu.svg');
    background-position: center center;
    background-repeat: no-repeat;
    width: rem(64);
    height: rem(63);
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;

    &[role="button"][aria-pressed] {
      background-color: transparent;

      &.open {
        background-color: $color-primary;
        border-bottom: 1px solid $color-border;
        background-image: url('../assets/img/icon-24-close.svg');
      }
    }



    .cb-button--open-text,
    .cb-button--close-text {
      font-size: 1px;
      color: $color-bg;
      position: absolute;
      width: 1px;
      height: 1px;
    }

    &::after {
      content: "";
      position: absolute;
      height: rem(64);
      left: 0;
      top: rem(-1);
      border-left: 1px solid $color-border;
      
      @media screen and (min-width: $bp-tablet) {
        border-left: 0;
      }
    }
  }
}

/* Carousel */
.cb-carousel {
  margin-bottom: rem(78);

  @media screen and (min-width: $bp-tablet) {
    margin-bottom: rem(136);
  }

  @media screen and (min-width: $bp-desktop) {
    height: rem(570);
  }

  &::before {
    content: '';
    height: rem(380);
    width: rem(6000);
    background-color: $color-primary;
    position: absolute;
    right: calc(50% - 600px);
    top: rem(80);

    @media screen and (min-width: $bp-tablet) {
      height: rem(627);
    }
  }

  &::after {
    content: '';
    border-left: 1px solid $color-border;
    border-right: 1px solid $color-border;
    width: $bp-desktop;
    height: calc(100% + 150px);
    position: absolute;
    top: 0;
    margin-left: calc(50% - 600px);
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
    }
  }

  .slick-list {
    z-index: 2;

    @media screen and (min-width: $bp-tablet) {
      margin-left: calc(50% - 290px);
    }
  }

  .slick-slide {
    padding: 0 rem(18);

    img {
      height: rem(380);
      //   width: auto;

      @media screen and (min-width: $bp-tablet) {
        height: rem(570);
        // width: auto;
      }
    }
  }

  .slick-arrow {
    position: absolute;
    bottom: rem(13);
    font-size: 0;
    line-height: 0;
    z-index: 2;
    height: 0;
    width: 0;
    overflow: hidden;

    @media screen and (min-width: $bp-tablet) {
      height: auto;
      width: auto;
      overflow: visible;
    }

    &:before {
      content: '';
      font-family: "slick";
      font-size: 20px;
      line-height: 1;
      opacity: 0.75;
      color: $color-font-base;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      border: 1px solid $color-border-secondary;
      border-radius: 100%;
      padding:0;
      background-color: $color-bg;
      width: rem(46);
      height: rem(46);
      display: block;
    }
  }

  .slick-prev {
    left: calc(50% - 476px);

  }

  .slick-next {
    left: calc(50% - 410px);
  }

  .slick-prev:before {
    background-image: url('../assets/img/arrow-thin-left.svg');
    background-position: center center;
    background-repeat: no-repeat;

  }
  .slick-next:before {
    background-image: url('../assets/img/arrow-thin-right.svg');
    background-position: center center;
    background-repeat: no-repeat;
  }

  .slick-disabled {
    opacity: .6;
    cursor: default;
  }
}




/* Banner */

.cb-banner {
  display: flex;
  justify-content: center;
  padding: 40px;
  background-color: $color-primary;
  align-items: center;
  position: relative;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;

  &::after {
    content: '';
    border-left: 1px solid $color-border;
    border-right: 1px solid $color-border;
    width: $bp-desktop;
    height: calc(100% + 152px);
    position: absolute;
    top: 0;
    z-index: -1;
  }

  &::before {
    content: '';
    background-color: $color-primary;
    width: 100%;
    height: calc(100% + 2px);
    top: -1px;
    width: rem(20000);
    position: absolute;
    z-index: -1;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
  }

  &__img {
    width: rem(72);

    @media screen and (min-width: $bp-tablet) {
      width: rem(100);
    }
  }

  &__title {
    margin-left: rem(24);
    width: rem(486);
    font-family: "Satoshi light";
    font-size: rem(20);
    line-height: rem(24);
    letter-spacing: 1px;
    font-weight: 300;

    @media screen and (min-width: $bp-tablet) {
      font-size: rem(36);
      line-height: rem(48);
    }

    span {
      display: block;
    }
  }
}


.cb-card {
  display: flex;
  background-color: $color-tertiary;
  margin-top: rem(80);
  flex-direction: column;

  @media screen and (min-width: $bp-tablet) {
    flex-direction: row;
  }

  &__title {
    font-size: rem(18);
    margin: rem(78) rem(24) rem(16);
    font-family: "Satoshi Regular";
    font-weight: 400;
    color: $color-font-base;
    text-transform: uppercase;

    @media screen and (min-width: $bp-tablet) {
      margin: rem(78) rem(40) rem(16);
    }

    @media screen and (min-width: $bp-desktop) {
      margin: rem(78) rem(103) rem(16);
    }
  }

  &__text {
    width: 100%;
    margin-bottom: rem(78);

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 0;
      width: 50%;
    }

    p,
    li {
      margin: 0 rem(24);
      font-size: rem(20);
      font-family: "Satoshi light";
      font-weight: 400;
      color: $color-font-base;
      display: block;
      line-height: rem(32);

      @media screen and (min-width: $bp-tablet) {
        margin: 0 rem(40);
        padding: 0;
        line-height: rem(32);
      }

      @media screen and (min-width: $bp-desktop) {
        margin: 0 rem(62) 0 rem(103);
      }

      &.cb-card__list-basic-link {
        padding-right: rem(48);
      }
    }
    
  }

  &__img {
    width: 100%;
    background-image: url('../assets/img/podiatrist-scanning-foot-3.jpg');
    background-position: center center;
    background-size: cover;
    height: rem(390);

    @media screen and (min-width: $bp-tablet) {
      width: 50%;
      height: auto;
    }

  }
  
  &__list-basic {
    padding: 0;
    list-style: none;
    font-family: "Satoshi Regular";

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: rem(78);
    }
  }

  &__list-basic-link {
    display: block;
    position: relative;
    padding-right: rem(48);

    a {
      font-size: rem(25);
      text-decoration: none;
      font-family: "Satoshi Regular";
      line-height: 120%;
      font-weight: 400;
      color: $color-font-base;
      display: block;
      padding: rem(8) 0;

      &:hover {
        color: $color-font-title;
      }
  
      @media screen and (min-width: $bp-tablet) {
        font-size: rem(32);
        line-height: rem(38);
        padding: rem(8) 0;
        display: block;
      }
    }

    &.end {
      margin-bottom: rem(24);
    }

    &::after {
      content: url('../assets/img/icon-24-arrow_right.svg');
      position: absolute;
      right: 0;
      top: calc(50% - 12px);
      transition: transform .5s;
      transform: rotate(-45deg);
      height: rem(24);
      width: rem(24);
    }

    &:hover {
      &::after {
        transition: transform .3s;
        transform: rotate(0deg);
      }
    }
  }

  &.light {
    background-color: $color-bg;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    margin-top: rem(32);
    padding-bottom: rem(32);

    @media screen and (min-width: $bp-tablet) {
      padding-top: 0;
      margin-top: 0;
      border-top: 0;
    }

    .cb-card__text {
      margin: 0;

      @media screen and (min-width: $bp-tablet) {
        margin-bottom: rem(78);
      }

      .cb-card__title {
        margin-top: rem(40);

        @media screen and (min-width: $bp-tablet) {
          margin: rem(78) rem(40) rem(16);
        }
    
        @media screen and (min-width: $bp-desktop) {
          margin: rem(78) rem(103) rem(16);
        }
      }
    }

    .cb-card__list-basic {
      margin-bottom: 0;
    }

    .cb-card__list-basic-link {

    }
  }
}

.cb-footer {
  background-color: $color-primary;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;

  &__copy {
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    text-align: center;
    width: 100%;
    padding: rem(24) 0;
  }

  .cb-main__col {
    margin: 0;
    width: 100%;

    border-left: 0;
    border-right: 0;

    &:first-child {
      border-top: 0;
    }
  }
}


.cb-accordion {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  height: fit-content;

  @media screen and (min-width: $bp-tablet) {
    width: 60%;
    border-top: 1px solid $color-border;
  }

  &::before {
    content: '';
    width: rem(20000);
    height: calc(100% + 1px);
    position: absolute;
    top: -1px;
    z-index: -1;
    background-color: $color-bg;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
  }

  &::before {
    right:rem(-20000);
  }
}

.cb-accordion h3 {
  margin: 0;
  padding: 0;
  background-color: $color-bg;
}

.cb-accordion h3:first-child {
  border-top: 0;
}

.cb-accordion__group {
  display: flex;
  padding: rem(90) 0 rem(90);
  position: relative;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $bp-tablet) {
    flex-direction: row;
    align-items: start;
  }

  &::before {
    content: '';
    height: rem(90);
    width: rem(60000);
    background-color: $color-primary;
    position: absolute;
    right: calc(50% - 30000px);
    bottom: 0;
    z-index: -1;
  
    @media screen and (min-width: $bp-tablet) {
      height: rem(500);
      top: rem(400);
      bottom: auto;
    }
  }
}



.cb-accordion__title {
  display: block;
  pointer-events: none;
  padding: rem(36) rem(80) rem(36) rem(36);
  outline: none;
  font-size: rem(24);
  color: $color-font-title;
  font-family: "Satoshi Regular";

  @media screen and (min-width: $bp-tablet) {
    font-size: rem(32);
    padding: rem(36) rem(96) rem(36) rem(36);
  }
}

.cb-accordion__trigger {
  background: none;
  color: red;
  display: block;
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  position: relative;
  text-align: left;
  width: 100%;
  outline: none;
  border-bottom: 1px solid $color-border;
}


.cb-accordion__trigger {
  &:focus-visible {
    outline: 1px solid $color-focus;
    outline-offset: -1px;
  }
}


// .cb-accordion button::-moz-focus-inner {
//   border: 0;
// }

.cb-accordion__trigger:focus .cb-accordion__title {
  border-color: red;

}

.cb-accordion__icon {
  border: solid currentcolor;
  border-width: 0 1.5px 1.5px 0;
  height: rem(12);
  pointer-events: none;
  position: absolute;
  right: 2em;
  top: 50%;
  transform: translateY(-60%) rotate(45deg);
  width: rem(12);
  color: $color-secundary;
}

.cb-accordion__trigger:focus .cb-accordion__icon,
.cb-accordion__trigger:hover .cb-accordion__icon {
  border-color: $color-secundary;
}

.cb-accordion__trigger[aria-expanded="true"] {
  border-bottom: 0;
}

.cb-accordion__trigger[aria-expanded="true"] .cb-accordion__icon {
  transform: translateY(-50%) rotate(-135deg);
}

.cb-accordion__panel {
  margin: 0;
  padding: 0 rem(36) rem(24);
  border-bottom: 1px solid $color-border;
  background-color: $color-bg;
}

.cb-accordion__panel[hidden] {
  display: none;
}

.cb-accordion__img,
.cb-accordion__video {
  width: 100%;
  height: auto;
  max-width: rem(480);
  padding: 0 rem(24);

  @media screen and (min-width: $bp-tablet) {
    width: rem(480);
    padding: 0;
    border-top: 1px solid $color-border;
  }
}

.cb-accordion__video {
  max-height: rem(721);
  overflow: hidden;
}

.cb-accordion__video-video {
  width: 100%;

  &:focus-visible {
    outline: 1px solid $color-focus;
    outline-offset: -1px;
  }
}

.cb-accordion__list {
  padding-left: rem(24);
}

.cb-accordion__item {
  margin-bottom: rem(16);
}

.cb-accordion__text {
  line-height: rem(25);
}

.cb-accordion__text strong {
  font-family: "Satoshi Bold";
}

#CybotCookiebotDialogHeader {
  display: none !important;
} 


.cb-paragraph {
  margin-top: rem(22);

  .cb-main__p,
  .cb-main__ul {
    @media screen and (min-width: $bp-desktop) {
      padding-right: rem(424);
    }
  }
}